<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- use materialize a modern responsive CSS framework based on Material Design by Google --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    {{!-- using fontawesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- We did define the public folder as the location for  static/css files path in app.js thats why
    href="/css/style.css" --}}
    <link rel="stylesheet" href="/css/style.css"/> 
    <link rel="icon" href="data:,">
    
    <title>Books Stories</title>
</head>

<body>
    {{> _header}}
    {{> _add_btn}}
    <div class="container">
        {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script> // material menu/ Sidenav behavior activation
        M.Sidenav.init(document.querySelector('.sidenav'))
    </script>
</body>

</html>